p {
  position: absolute;
  top: 13px;
  left: 800px;
}

#number2 {
  position: absolute;
  top: 25px;
  left: 480px;
  width: 50px;
  height: 30px;
}
#DPI {
  position: absolute;
  top: 140px;
  left: 1035px;
  width: 50px;
  height: 30px;
}
#Edge {
  position: absolute;
  top: 140px;
  left: 1115px;
  width: 50px;
  height: 30px;
}
